* {
  box-sizing: border-box;
}

.App {
  max-width: 600px;
  margin: 100px auto;
  box-shadow: #f7b267 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, #f79d65 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, #f4845f 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, #ff6666 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, #f05d5e 40px -40px;
  padding: 1rem;
  border-radius: .5rem;
}

.App>h1 {
  margin-top: 0;
  color: #f7b267;
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  .App {
    margin: 3rem 8rem;
  }
}

input.New-todo {
  border-color: #f7b267;
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  box-shadow: rgba(247, 178, 103, 0.7) 0px 5px 15px 0px;
  border-radius: .5rem;
}

ul.App-todos {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

ul.App-todos>li {
  padding: .5rem;
}

li.Todo-item {
  display: flex;
  align-items: center;
}

li.Todo-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

a.Todo-delete {
  margin-left: auto;
  text-decoration: none;
  color: #f05d5e;
  font-size: 2rem;
  line-height: 1.2rem;
}

.Done > .Todo-title {
  text-decoration: line-through;
}

.mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Licorice', cursive;
  opacity: 1; /* Firefox */
}

.mainLoginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Licorice', cursive;
}

.mainLoginInput::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Licorice', cursive;
}

.Title-todo{
 font-size: 40px!important;
}